<div class="container">
  <div class="row">
    <div class="col-lg-12 offset-4">
      <h1>Change Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-4">
      <form method="post" id="passwordForm">
        <input
          type="password"
          class="input-lg form-control mt-2"
          name="password"
          id="password"
          placeholder="New Password"
          autocomplete="off"
        />
        {{! <input
          type="password"
          class="input-lg form-control mt-2"
          name="password2"
          id="password2"
          placeholder="Repeat Password"
          autocomplete="off"
        /> }}
        <input
          type="submit"
          class="col-xs-12 btn btn-primary btn-load btn-lg mt-2"
          data-loading-text="Changing Password..."
          value="Change Password"
        />
      </form>
    </div>
  </div>
</div>